# ignore temporary files
*#
*~

# ignore local ffmpeg
res/

# ignore vids
vid/

# ignore temporary analysis files
analysis/vids/
analysis/frames/
analysis/larvae_positions
analysis/*.png
analysis/*.txt
analysis/tmp*